# Application
src/plugins/*
!src/plugins/.gitkeep
src/mu-plugins/*
!src/mu-plugins/.gitkeep
src/themes/*
!src/themes/.gitkeep
src/uploads

# WordPress
wp
wp-cli.yml

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
